<form [formGroup]="myForm" (ngSubmit)="submit(myForm.value)">
  <mat-card-content class="d-flex flex-column justify-content-center align-items-center">

    <img class="mb-4 mt-3" src="assets/logo.png" alt="logo" width="100%">


    <h1>Bienvenue</h1>

    <div class="">

      <mat-form-field appearance="fill" class="col-md-12 p-0">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="nom">
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-12 p-0">
        <mat-label>Prenom</mat-label>
        <input matInput formControlName="prenom">
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-12 p-0">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email address">
        <mat-error *ngIf="emailError">Email non valide</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-12 p-0">
        <mat-label>Mot de passe</mat-label>
        <input matInput formControlName="password" placeholder="Mot de passe" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="passwordError">{{passwordError}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-12 p-0 mb-4">
        <mat-label>Répéter le mot de pass</mat-label>
        <input matInput [formControl]="checkPassword" placeholder="Répéter le mot de pass"
          [type]="hide2 ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="checkPassword.touched && checkPasswordError">{{checkPasswordError}}</mat-error>
      </mat-form-field>

      <button class="col-md-12 mb-2" mat-raised-button color="accent"
        [disabled]="myForm.invalid || checkPasswordError !== ''" type="submit">Inscription</button>


      <button class="col-md-12" [routerLink]="['/auth/login']" mat-raised-button color="primary" type="button">
        Connexion</button>


    </div>
  </mat-card-content>
</form>
